<!doctype html>
<html>

<head>
  <meta charset="utf8">
  <title>Kanbee</title>
  <link rel="shortcut icon" href="/kanbee/favicon.svg" type="image/svg+xml" sizes="any" id="default-favicon">
  <meta name="description" content="Management of projects, tasks and teams.">
  <meta name="theme-color" content="#f8a921">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Kanbee">
  <meta property="og:title" content="Kanbee">
  <meta property="og:description" content="Management of projects, tasks and teams.">
  <meta property="og:url" content="https://app.kanbee.io">
  <meta property="og:image" content="https://app.kanbee.io/kanbee/icon-1024.png">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Kanbee">
  <meta name="twitter:description" content="Management of projects, tasks and teams.">
  <meta name="twitter:image" content="https://app.kanbee.io/kanbee/icon-1024.png">
</head>

<body style="margin: 0; overflow: hidden;">
</body>

</html>